// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #122851;  // Once we've changed the value, we'll also make it the primary brand color.
$dark-blue: #122851;
$red: #990000;
$darkgray: #262525;
$lightgray: #939292;
$lightblue: #f0f8ff;